.App {
  font-size: 1.3em;
}

.App-logo {
  float: right;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 5px 5px 5px 15px;
  color: white;
}

.App-LeftNav {
  float: left;
  border-right: gray solid 1px;
  padding: 10px;
  width: 150px;
}

section {
  float: left;
  padding: 10px;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
